$luna-use-feature: (
  'include-containers',
  'include-dividers',
  'include-grid',
  'include-layouts',
  'include-luna-icons',
  'include-text-link',
  'include-typography'
);

@import '~@luna/sass/scss/luna.scss';
@import '//fx-cdn.northwesternmutual.com/evergreen/fonts/uitk.css';
@import './widget.scss';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
